 What is the total amount of student debt that you will have to pay at the end of each year? You will have roughly around $3,000,000 with a standard deviation of above or below 98. This is because you will have to take out random expenses at the end of every month to find how much money you owe to the school on the things that you need.

In [17]:
import pandas as pd
import seaborn as sns

file_path = "/mnt/data/college v2.csv"

    # Display the first few rows to understand its contents
df.head()

for i in range(100):
    # Load the CSV file to inspect its structure
    pass
    df = pd.read_csv("college v2.csv")
df.head()

              School Tuition cost  Unnamed: 2        random costs     Cost
0                CSU       12,896         NaN             Clothing   1,500
1        Metro State       10,780         NaN       Transportation  13,000
2  Colorado Mountain        5,100         NaN                 Food   9,500
3                ACC        10119         NaN  Magic the Gathering   5,000