what is the expected amount of debt that a person will receive from 1 year of college at these schools? If a random person were to go to any one of these schools what would be the amount of debt that they would expect to receive?

In [5]:
import pandas as pd
import seaborn as sns

# Load the CSV file to inspect its structure
file_path = "/mnt/data/college.csv"
df = pd.read_csv("college.csv")

# Display the first few rows to understand its contents
df.head()

              School Tuition cost
0                CSU       12,896
1        Metro State       10,780
2  Colorado Mountain        5,100
3                ACC        10119